<html>
    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
	<script type="text/javascript" src="../src/v-plugIn_resource_loader.js"></script>
	<title>Vue plug-in: Resource Loader</title>
	<style>
	 @charset "utf-8";

	 .loading_screen-enter-active {transition:opacity 1s linear;}

	 .loading_screen-leave-active {transition:opacity 0.5s ease-out;}

	 .loading_screen-enter, .loading_screen-leave-to {opacity:0;}

	 .loading_screen-enter-to, .loading_screen-leave {opacity:1;}

	 * {box-sizing:border-box;margin:0;padding:0;}

	 html, body {height:100%;width:100%;}

	 main {height:inherit;padding:1.5rem;width:inherit;}

	 #loading_screen {align-items:center;background-color:black;display:flex;justify-content:center;left:0;height:100%;position:absolute;top:0;width:100%;z-index:1;}

	 #loading_screen p {color:white;font-family:monospace;font-size:2.5rem;}

	 main > div {display:flex;flex-flow:row nowrap;height:auto;width:100%;}

	 main > div img {display:block;flex-basis:25%;height:auto;}
	</style>
    </head>
    <body>
	<main>
	    <the-resource-loader><p>Loading...</p></the-resource-loader>
	    <button v-on:click="++show_photoIndex">Show images</button>
	    <div>
		<img v-if="show_photoIndex >= 1" src="meyers_tetrahedron.png">
		<img v-if="show_photoIndex >= 2" src="meyers_hexahedron.png">
		<img v-if="show_photoIndex >= 3" src="meyers_dodecahedron.png">
	    </div>
	</main>
	<script type=text/javascript>
	 "use-strict";

	 Vue.use(resource_loader, {
	     output_requestInfo: true,
	     urlCollections: {
		 prefetch: [
		     '/graphic_assets/meyers_tetrahedron.png',
		     '/graphic_assets/meyers_hexahedron.png',
		     '/graphic_assets/meyers_dodecahedron.png'
		 ]
	     }
	 });

	 const __Main__ = new Vue ({
	     el: 'main',
	     created () { this.$on('loading-finished', () => this.preloading = false ); return; },
	     mounted () { Vue.load_resources(); return; },
	     data: { preloading: false, show_photoIndex: 0 },
	     methods: { prueba () { this.fetch_resource(null); return; } }
	 });
	</script>
    </body>
</html>
